# .gitignore

# Python
*.py[cod]
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.dist-info/
*.so
*.log
*.tmp

# Virtuelle Umgebung
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# Lokale Konfigurationsdateien / Secrets
.env
database.env
.streamlit/secrets.toml # Wenn du Secrets auch lokal so testen möchtest

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
